.header-home {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 30px;
    margin-left: 20px;
    top: 3px;
}

.banner {
    background-image: url("images/header_home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: white;
    min-height: 250px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.banner h2 {
    margin-top: 0 0 20px 0;
    color: yellow;
    font-size: 30px;
    padding-bottom: 15px;
}

.hosts-home img {
    height: 270px;
    margin: 20px 0;
}

.section-title {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.programs {
    padding: 25px 40px;
    background: #D9D9D9;
}

.program-header {
    font-weight: bold;
}

.program-card-home {
    background: #EDEFF2;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.4);
}

/* Profiles */
.header-profiles {
    background: url('images/profiles-main.png') center/cover no-repeat;
    height: 650px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.hosts-profile img {
    height: 270px;
    margin: 20px 0;
}

.banner-profiles {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: white;
    min-height: 250px;
}

.description {
    margin-bottom: 100px;
}

.description h1 {
    text-align: center; 
    padding-top: 50px;
    font-size: 50px;
}

.description p {
    text-align: center;
    padding: 45px 290px;
    font-weight: 350;
}

/* Programs */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.intro {
    color: #FFEC40;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.logo {
    position: absolute;   
    top: 15px;           
    left: 15px;           
    height: 75px;         
    width: auto;          
    z-index: 10;          
}

.break-box {
    background-color: #454E57;
    height: 50px;
}

.header {
    background: url('images/header_photo.png') center/cover no-repeat;
    height: 350px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.header-overlay {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.header-overlay h1 {
    padding-top: 24px;
    font-size: 60px;
    font-weight:900;
    letter-spacing: -2px;
}

.header-overlay p {
    margin-top: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
}

.content {
    background: #E6E6E6;
    padding: 40px 60px;
    border-radius: 10px;
    margin: 25px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h2 {
    color: #991111;
    font-weight: 900;
    font-size: 26px;
}

.filter-btn {
    background: #535252;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 12px;
    cursor: pointer;
    word-spacing: 20px;
    font-weight: bold;
}

.program-list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.program-card {
    background: #CFCECE;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.4);
}

.card-left {
    width: 40%;
}

.title-status {
    display: inline-flex;     
    align-items: center;      
    gap: 10px;               
}

.card-right {
    width: 55%;
    padding-right: 10px;
}

/* TEXT STYLES */
.title-status h3 {
    font-size: 20px;
    font-weight: 900;
     margin: 0;
}

.status {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.offline {
    background: #9A2020;
    color: white;
}

.schedule {
    font-weight: 500;
    padding-top: 5px;
}

.hosts {
    margin-top: 5px;
    font-size: 14px;
    color: #4a4a4a;
}

.card-right p {
    font-size: 14.5px;
    line-height: 1.6;
    color: #333;
}

.footer {
    background-color: #1C5186;
    margin-top: 75px;
    height: 75px;
    position: fixed;     /* fixes it relative to viewport */
    bottom: 0;           /* stick to bottom */
    left: 0;             /* align left */
    width: 100%;         /* full width */
    z-index: 100; 
}

.footer footer {
    color: white;
    text-align: right;
    padding-right: 25px;
    padding-top: 30px;
}

@media (max-width: 900px) {
    .program-card {
        flex-direction: column;
    }

    .card-left, .card-right {
        width: 100%;
    }

    .card-right {
        margin-top: 10px;
    }
}

#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    margin-right: 30px;
    position: absolute;
    right: 0%;
    top: 20px;
    color: white;
}

.dropdown-menu {
    position: absolute;
    top: 75px;
    right: 20px;
    width: 150px;
    background: white;
    border-radius: 5px;
    padding: 10px 0;
    display: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 99;
}

.dropdown-menu a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    text-align: center;
    font-weight: 501;
}

.dropdown-menu a:hover {
    background: #e0eefc;
}

#menu-toggle:checked~.dropdown-menu {
    display: block;
}

/* About Page - Bartolome Ibarreta */

* {
    font-family: Poppins, San serif;
    background-color: transparent;
}

h1,
h2,
h3,
p {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    background-color: #ffffff;
}

/* ===== ABOUT PAGE STYLES ===== */
.about header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #1C5186;
    color: #FFFFFF;
    padding: 20px 60px 20px 30px;
}

.about .header-image {
    display: flex;
    align-self: center;
}

.about .header-image img {
    height: 100px;
    width: 205px;
}

.about .header-info {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about .header-h1 {
    display: flex;
    align-self: center;
}

.about .header-h1 h1 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 47px;
}

.about .header-menu {
    align-self: center;
    font-size: 70px;
}

/* About Main Styles */
.about .main-container {
    font-family: 'Poppins', sans-serif;
    padding: 130px 20px 20px 20px;
    margin: 0px 0px 300px 0px;
}

.about .main-container h2 {
    font-weight: bolder;
    font-size: 80px;
    margin-bottom: 20px;
}

.about .main-container p {
    font-weight: normal;
    font-size: 33px;
}

/* About Section 1 */
.about .main-section1 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    height: 520px;
    margin: 20px;
    padding: 40px;
    color: #000000;
    background-color: #F0F2F3;
    border: solid 0px transparent;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.12);
}

.about .main-section1 iframe {
    border: solid transparent;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 6px 12px rgba(0, 0, 0, 0.18);
}

/* About Section 2 */
.about .main-section2 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    height: 530px;
    margin: 20px;
    padding: 150px 40px 40px 40px;
    border: solid 0px transparent;
    border-radius: 20px;
    color: #000000;
    background-color: none;
}

.about .image-container2 {
    height: 460px;
    width: 730px;
    padding: 40px 30px;
    background-color: #F0F2F3;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(5, 0, 0, 0.08), 0 4px 8px rgba(5, 0, 0, 0.12);
}

.about .main-section2 img {
    height: 460px;
    width: auto;
    border: 0;
    border-radius: 8px;
    background-color: gray;
}

.about .main-section2 h2 {
    text-align: right;
}

.about .main-section2 p {
    text-align: right;
}

/* About Section 3 */
.about .main-section3 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    height: 650px;
    margin: 20px;
    padding: 150px 40px 40px 40px;
    border: solid 0px transparent;
    border-radius: 20px;
    color: #000000;
    background-color: none;
}

.about .image-container3 {
    height: 460px;
    width: 730px;
    padding: 40px 30px;
    background-color: #F0F2F3;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(5, 0, 0, 0.08), 0 4px 8px rgba(5, 0, 0, 0.12);
}

.about .main-section3 img {
    height: 460px;
    width: auto;
    border: 0;
    border-radius: 8px;
    background-color: gray;
}

.about .main-section3 h2 {
    text-align: left;
}

.about .main-section3 p {
    text-align: left;
}

/* About Footer Styles */
.about .footer-container {
    height: 447px;
    background-color: #1C5186;
    padding: 13px 21px 13px 21px;
}

.about .footer-section1 {
    padding: 8px 0px 0px 20px;
}

.about .footer-section1 h2 {
    font: Poppins;
    color: #FFFFFF;
    font-size: 57px;
    font-weight: bold;
}

.about .footer-section2 {
    display: flex;
    flex-direction: row;
    gap: 180px;
    justify-content: space-between;
    padding: 20px 20px 0px 50px;
}

.about .social-accounts,
.about .contact-information {
    display: flex;
    flex-direction: column;
    gap: 13px;
    flex: 1;
    min-width: 300px;
}

.about .soc-items,
.about .con-items {
    display: flex;
    align-items: center;
}

.about .footer-section2 a {
    text-decoration: none;
}

.about .footer-section2 p {
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0;
}

/* About Social Media Style */
.about .soc-items {
    display: flex;
    align-items: center;
    gap: 15px;
}

.about .footer-icon .bi-facebook {
    color: #FFFFFF;
    font-size: 35px;
}

.about .footer-icon .bi-tiktok {
    color: #FFFFFF;
    font-size: 35px;
}

.about .footer-icon .bi-youtube {
    color: #FFFFFF;
    font-size: 35px;
}

/* About Contact Information Styles */
.about .con-items {
    display: flex;
    align-items: center;
    gap: 15px;
}

.about .footer-icon .bi-envelope {
    color: #FFFFFF;
    font-size: 35px;
}

.about .footer-icon .bi-telephone {
    color: #FFFFFF;
    font-size: 35px;
}

.about .footer-icon .bi-geo-alt-fill {
    color: #FFFFFF;
    font-size: 35px;
}

.about .footer-section3 {
    font-family: 'Kantumruy Pro', sans-serif;
    padding: 30px 20px 0px 20px;
}

.about .footer-section3 p {
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
}

/* ABOUT STYLE END */